/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Layout */

body{
	text-align: center;
	font-family: 'Open Sans';
	font-size: 11pt;
	line-height: 140%;

}

#wrap{
	width: 800px;
	margin: 20px auto;
	text-align: left;

}

#banner{
	position: relative;
	height: 330px;
}

#header-image{
	position: absolute;
	border-top-left-radius:		10px;
	border-top-right-radius:	10px;
	display: inline;
}

#header-imageB{
	position: absolute;
	border-top-left-radius:		10px;
	border-top-right-radius:	10px;
	display:none;
}


#logo{
	position: absolute;
	top: 10px;
	left: -31;
}

#main-nav{
	width: 780px;
	background: rgba(255,255,255, 0.7);
	padding: 11px 10px;
	position: absolute;
	bottom: 0px;
	
}

.selected{
	background: white;
}

#main-nav a{
	font-weight: bold;
	display: inline;
	padding: 10px;
	letter-spacing: .03em;
	text-transform: uppercase;
	font-size: 14pt;
}

#main-nav a:hover{
	color: #E24F26;
}

#content{
	margin: 20px 10px;
	float: left;
	width: 575px;

}


#side{
	margin: 20px 0;
	float: right;
	clear: right;
}

#footer{
	display: block;
	clear: both;
	font-size: 10pt;
	text-align: center;
}

#features div{
	width: 160px;
	height: 160px;
	padding: 10px;
	background: #ddd;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 20px;
	text-align: center;
	border-top-left-radius:		10px;
	border-top-right-radius:	10px;
	border-bottom-left-radius:	10px;
	border-bottom-right-radius:	10px;
	font-weight: 700;
}

#features img {
	padding-bottom: 15px;	
}





/* Fonts */

p{
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	padding-bottom: 5px;
}

h1{
	font-size: 14pt;

}

ul{
	padding: 0 0 20px 20px;
	list-style:disc;
	
	
}